* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #423939;
}

.calculator {
    width: 300px;
    padding: 20px;
    background: #000;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(233, 211, 14, 0.911);
}

#display {
    width: 100%;
    height: 60px;
    background: #222;
    color: #fff;
    border: none;
    margin-bottom: 15px;
    padding: 10px;
    font-size: 28px;
    text-align: right;
    border-radius: 10px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
}

button {
    padding: 18px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    background: #333;
    color: #fff;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background: #555;
}

.clear {
    background: #f44336;
}
.clear:hover {
    background: #f44336;
    border: 1px solid rgb(94, 255, 0);
}
.clear:active {
    background: #555;
}

.equal {
    background: #4caf50;
}
.equal:hover {
    background: #4caf50;
    border: 2px solid purple;
}
.equal:active {
    background: #555;
}

.zero {
    grid-column: span 2;
}
